.networksListHeader {
    display: flex;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 5px;
}

.networksListWrapper {
    width: 300px;
    border: 1px solid black;
    overflow-y: scroll;
    
    .networksListHeaderItem {
        display: flex;
    }
}

.favoriteNetworksListWrapper {

    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow-y: scroll;
}